{% load static %}
<h2 class="sidebar-title">Top {{ count }} popular posts</h2>
<div class="grid">
    {% for post in posts %}
    <div class="portfolio-item popular">
        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.title }}" width="201" height="201">
        {% else %}
        <img src="{% static 'img/post-image5.jpg' %}" alt="{{ post.title }}" width="201" height="201">
        {% endif %}
        <div class="portfolio-text">
            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
            <p>{{ post.author }} <span>|</span>{{ post.created_at|date:"d.m.Y" }}</p>
            <p>Number of views <span>:</span>{{ post.views }}</p>
        </div>
    </div>
    {% endfor %}
</div>